body {
    color: #545a5f;
}

#menu > ul > li > ul {
    color: #6D7274;
}

figure {
    text-align: center;
    margin: 3rem 0;
}

figure img {
    max-width: 100%;
}

figcaption {
    text-align: left;
    font-weight: bold;
    color: #6D7274;
}

article img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

section {
    max-width: 50rem;
}

section.pattern-overview {
    max-width: initial;
}

.home-section {
    position: relative;
}

.pattern-image {
    width: 300px;
    position: absolute;
    left: 55rem;
    top: 30rem;
}

li.c0::marker {
    content: "🙟 ";
}

li.c1::marker {
    content: "🜂 ";
}

.pattern-tree h3 {
    color: red;
}

.pattern-tree h5 {
    color: gray;
}

@media screen and (max-width: 1600px) {
    .pattern-image {
        display: none;
    }
}
