figure {
    text-align: center;
    margin: 3rem 0;
}

figure img {
    max-width: 100%;
}

figcaption {
    text-align: left;
    font-weight: bold;
    color: #c0c0c0;
}

article img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

section p, section blockquote, section center {
    max-width: 50rem;
}

.home-section {
    position: relative;
}

.pattern-image {
    width: 300px;
    position: absolute;
    left: 55rem;
    top: 20rem;
}