body {
    color: #545a5f;
}

figure {
    text-align: center;
    margin: 3rem 0;
}

figure img {
    max-width: 100%;
}

figcaption {
    text-align: left;
    font-weight: bold;
    color: #c0c0c0;
}

article img {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

section {
    max-width: 50rem;
}

section.pattern-overview {
    max-width: initial;
}

.home-section {
    position: relative;
}

.pattern-image {
    width: 300px;
    position: absolute;
    left: 55rem;
    top: 30rem;
}

@media screen and (max-width: 1600px) {
    .pattern-image {
        display: none;
    }
}
